     <ul>
        <li><a href="/dashboard/profile/"> Personal and Bio </a></li>
        <li><a href="/dashboard/work/">  Work</a> </li>
        <li><a href="/dashboard/education/">  Education</a> </li>
        <li><a href="/dashboard/contacts/">  Contacts</a> </li>
	    <li><a href="/linked/">  Linked Accounts</a> </li>
        <li><a href="/applications/">  Applications</a> </li>
	    <li><a href="#"> Usage History </a></li>
	    <li><a href="#">  Passwords and Secrets</a> </li>
	    <li><a href="#">  Export Data</a> </li>
	    <li><a href="#"> Delete Account</a> </li>
    </ul>