{% extends "base.html" %}

{% block title %}BlankPage{% endblock  %}

{% block page_head%} Social Application Platform {% endblock  %}

{% block head_text %}

    {% if user.is_authenticated  %}
    {{user.get_full_name}}  <a href="accounts/logout"> Logout</a>
    {% endif %}


{% endblock%}

{% block content %}
    {% if applications != None %}
       {%for application in applications.all%}
        <h3><a href="/applications/{{ application.id}}"> {{ application.name }} </a></h3>
        <h3>  Application : {{ application.name }}</h3>
        <li>Description : {{ application.description }}</li>
           <li>Key : {{ application.key }}</li>
           <li>Secret: {{ application.secret }}</li>
    {% endfor %}
    {% else %}
    <h3> NO Application Found </h3>
    {% endif %}


{% endblock  %}

{% block sidebar %}
   <ul>
        <li><a href="/applications/add_app/"> Create Application </a></li>
        <li><a href="#"> Manage Applications</a> </li>
        <li><a href="/"> Home</a> </li>
    </ul> 

{% endblock%}







